{% extends "layout.html" %}
{% block content %}

    <div class="home" align="center">
        <p>
        <h1>Workout History</h1>
    </div>
    <main class="container p-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Workout</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(0, h|count) %}
            <tr>
                <td>{{h[i]['timestamp']}}</td>
                <td>{{h[i]['name']}}</td>
                <td>{{h[i]['score']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </main>



{% endblock %}
