{% extends "layout.html" %}
{% block content %}
    <p>
    <div class="login" align="center">
        <h5><font color="red">{{message}}</font></h5>

        <div class="card border-dark mb-3" style="max-width: 18rem;">

            <div class="card-header"><h1>Login</h1></div>
            <div class="card-body text-dark">
                <p class="card-text">
                    <form action="/login" method="post">
                        <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="password" placeholder="Password" type="password">
                        </div>
                        <button class="btn btn-primary" type="submit">Log In</button>
                    </form>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
